In [1]:
import pandas as pd
import numpy as np

location of the csv file to import

In [ ]:
file = 'C:\\Users\\dbech\\Documents\\IS362\\assignment_7\\movie_survey.csv'

load the csv file into a dataframe, set the index column to the reviewers name, and change all the number to floating point.

In [35]:
movie_survey = pd.read_csv(file, index_col = 0)
movie_survey = movie_survey.astype(float)
movie_survey

,Avengers Infinity War,Spiderman,Guardians of the Galaxy Vol 1,A Simple Favor,Star Wars the Last Jedi,My Cousin Vini
Rebecca,3.0,NaN,4.0,5.0,NaN,3.0
Brian,4.0,4.0,NaN,NaN,4.0,5.0
Justin,5.0,NaN,4.0,3.0,2.0,3.0
Kristin,NaN,3.0,NaN,NaN,4.0,2.0
Nadia,3.0,2.0,3.0,4.0,NaN,4.0

find the average rating for each movie

In [36]:
movie_survey.mean()

Avengers Infinity War            3.750000
Spiderman                        3.000000
Guardians of the Galaxy Vol 1    3.666667
A Simple Favor                   4.000000
Star Wars the Last Jedi          3.333333
My Cousin Vini                   3.400000
dtype: float64

find the average rating for each reviewer

In [37]:
movie_survey.mean(axis=1)

Rebecca    3.75
Brian      4.25
Justin     3.40
Kristin    3.00
Nadia      3.20
dtype: float64

New dataframe with normalized ratings by reviewer

Feature Scaling (min max):
normalized value(x) = (value(x) - minimum value) / (maximum value - minimum value)

In [62]:
movie_survey_norm = movie_survey.copy()

for reviewer_name in movie_survey.index:
    max_value = movie_survey.loc[reviewer_name].max()
    min_value = movie_survey.loc[reviewer_name].min()
    movie_survey_norm.loc[reviewer_name] = (movie_survey.loc[reviewer_name] - min_value) / (max_value - min_value)

movie_survey_norm

,Avengers Infinity War,Spiderman,Guardians of the Galaxy Vol 1,A Simple Favor,Star Wars the Last Jedi,My Cousin Vini
Rebecca,0.0,NaN,0.500000,1.000000,NaN,0.000000
Brian,0.0,0.0,NaN,NaN,0.0,1.000000
Justin,1.0,NaN,0.666667,0.333333,0.0,0.333333
Kristin,NaN,0.5,NaN,NaN,1.0,0.000000
Nadia,0.5,0.0,0.500000,1.000000,NaN,1.000000

Average rating for each movie after normalization

In [65]:
movie_survey_norm.mean()

Avengers Infinity War            0.375000
Spiderman                        0.166667
Guardians of the Galaxy Vol 1    0.555556
A Simple Favor                   0.777778
Star Wars the Last Jedi          0.333333
My Cousin Vini                   0.466667
dtype: float64

average rating for each reviewer after normalization

In [66]:
movie_survey_norm.mean(axis=1)

Rebecca    0.375000
Brian      0.250000
Justin     0.466667
Kristin    0.500000
Nadia      0.600000
dtype: float64

Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.

When you normalize data you can bring data that may have been at different scale into a common scale. It can also allow you to compare different variables with equal consideration regaurdless of units.
The downside to normalization is that you will loose the outliers that may be present in your data. This could be detrimental as outlier can lead to new insights or possible point out errors in your method.

Extra Credit: 
New dataframe with standardized ratings by reviewer

standard score:
standarized value(x) = (value(x) - average) / standard dev

In [63]:
movie_survey_stand = movie_survey.copy()

for reviewer_name in movie_survey.index:
    mean_value = movie_survey.loc[reviewer_name].mean()
    std_value = movie_survey.loc[reviewer_name].std()
    movie_survey_stand.loc[reviewer_name] = (movie_survey.loc[reviewer_name] - mean_value) / (std_value)

movie_survey_stand

,Avengers Infinity War,Spiderman,Guardians of the Galaxy Vol 1,A Simple Favor,Star Wars the Last Jedi,My Cousin Vini
Rebecca,-0.783349,NaN,0.261116,1.305582,NaN,-0.783349
Brian,-0.500000,-0.500000,NaN,NaN,-0.500000,1.500000
Justin,1.403293,NaN,0.526235,-0.350823,-1.227881,-0.350823
Kristin,NaN,0.000000,NaN,NaN,1.000000,-1.000000
Nadia,-0.239046,-1.434274,-0.239046,0.956183,NaN,0.956183

Average rating for each movie after standarization

In [67]:
movie_survey_stand.mean()

Avengers Infinity War           -0.029776
Spiderman                       -0.644758
Guardians of the Galaxy Vol 1    0.182769
A Simple Favor                   0.636981
Star Wars the Last Jedi         -0.242627
My Cousin Vini                   0.064402
dtype: float64

Average rating for each reviewer after standardization

In [68]:
movie_survey_stand.mean(axis=1)

Rebecca   -5.551115e-17
Brian      0.000000e+00
Justin     7.771561e-17
Kristin    0.000000e+00
Nadia     -1.776357e-16
dtype: float64